html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

/* Remove blue outline on buttons */
button:focus {outline:none;}

/* Dim placeholder color */
input::placeholder { color: #b2b2b2;}

/* Global a color*/
a, a:visited, a:hover, a:active {
    color: #0457C0;
    text-decoration: none;
}

a:hover {opacity: 0.8;}

/* Banner title */
@media (min-width: 1281px) {
    .banner-title {
	font-size: 10rem
    }
}

@media (max-width: 1280px) {
    .banner-title {
	font-size: 4rem
    }
}

