body {
	margin: 0;
  	padding: 0;
  	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    	sans-serif;
	/* Adjust font size */
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	/* Font varient */
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	/* Smoothing */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

a {
	color: inherit;
	text-decoration: none;
}

.fromMarkdown code {
	background-color: #17223b;
	border-radius: 8px;
	padding: 4px;
}

.fromMarkdown pre code {
	margin: 24px 0;
	display: block;
	padding: 16px;
	overflow-wrap: break-word;
}

.fromMarkdown a {
	text-decoration: underline;
}

.fromMarkdown blockquote {
	font-size: 24px;
}
