/*@font-face {
	font-family: "EBGaramond";
	src: url('/eb-garamond/EBGaramond12-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "EBGaramond";
	src: url('/eb-garamond/EBGaramond12-Italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
 }
@font-face {
	font-family: "EBGaramond";
	src: url('/eb-garamond/EBGaramond8-Regular.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "EBGaramond";
	src: url('/eb-garamond/EBGaramond8-Italic.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}

.eb-garamond {
	font-family: "EBGaramond", Georgia, serif;
}*/

body {
	margin: 0;
  	padding: 0;
  	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    	sans-serif;
	/* Adjust font size */
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	/* Font varient */
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	/* Smoothing */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

a {
	color: inherit;
	text-decoration: none;
}

/*Love from Blueprint js*/
.bp3-dark .bp3-text-muted {
	color: #a7b6c2;
}

.sheet-border {
    border-radius: 16px 16px 0 0;
}

textarea:focus, input:focus{
    outline: none;
}
